<div class="items">
  <h2 class="items__title">Items List</h2>
  <div *ngIf="loading$ | async" class="items__loading">Loading...</div>
  <div class="items__grid">
    <div class="item-card" *ngFor="let item of items$ | async">
      <img
        [src]="item.imageUrl"
        class="item-card__image"
        alt="{{ item.name }}"
      />
      <div class="item-card__content">
        <h5 class="item-card__title">{{ item.name }}</h5>
        <p class="item-card__description">{{ item.description }}</p>
        <p class="item-card__price">{{ item.price | currency }}</p>
        <p class="item-card__date">Added on {{ item.createdAt | date }}</p>
      </div>
    </div>
  </div>
</div>